<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
        <p class="description">Welcome to my personal website! This site is a project for my Web Design and Development class at BYU–Idaho, where I am a senior majoring in Web Design and Development. The purpose of this website is to showcase my skills in web development and design, as well as to provide information about me and my interests.</p>
            <section class="about-layout">
                <div class="about-image">
                    <img src="/images/IMG_4522.jpeg" alt="Profile picture of Ashley Hillstead" class="profile-image">
                </div>

                <div class="about-content">
                    <p>
                        Hi everyone! My name is Ashley Hillstead, 
                        and I am a Web Design and Development major 
                        here at BYU–Idaho. I’m currently in the final 
                        stretch of my degree and am eager to integrate 
                        these design principles into my technical toolkit. 
                        I currently work in IT here on campus, a role I 
                        love because it allows me to dive into the 
                        "puzzle-solving" side of technology. For me, 
                        art and design are most exciting when viewed 
                        through the lens of logic—focusing on information 
                        architecture and user experience to ensure that 
                        what we create is as functional and intuitive as 
                        it is visually clean.
                    </p>

                    <div class="hobbies">
                        <h3>Hobbies & Interests</h3>
                        <p>Reading Comic Books</p>
                        <p>Watching Movies & TV Shows</p>
                        <p>Learning New Technologies</p>
                        <p>Problem Solving</p>
                        <p>Music & Playing Piano</p>
                    </div>
                    </div>
                </div>
            </section>
    <%- include('partials/footer') %>
</main>
