<%- include('partials/header') %>
<main class="about-container">
    <h1><%= title %></h1>
        <section class="about-layout">
            <div class="about-image">
                <img src="/images/IMG_4522.jpeg" alt="Profile picture of Ashley Hillstead" class="profile-image">
            </div>

            <div class="about-content">
                <h1>Ashley Hillstead</h1>
                <h2>About Me</h2>
                <p>
                    Hi everyone! My name is Ashley Hillstead, 
                    and I am a Web Design and Development major 
                    here at BYU–Idaho. I’m currently in the final 
                    stretch of my degree and am eager to integrate 
                    these design principles into my technical toolkit. 
                    I currently work in IT here on campus, a role I 
                    love because it allows me to dive into the 
                    "puzzle-solving" side of technology. For me, 
                    art and design are most exciting when viewed 
                    through the lens of logic—focusing on information 
                    architecture and user experience to ensure that 
                    what we create is as functional and intuitive as 
                    it is visually clean.
                </p>

                <div class="hobbies">
                    <h2>Hobbies & Interests</h2>
                    <ul>
                        <li>Reading Comic Books</li>
                        <li>Watching Movies & TV Shows</li>
                        <li>Learning New Technologies</li>
                        <li>Problem Solving</li>
                        <li>Music & Playing Piano</li>
                    </ul>
                </div>
            </div>
        </section>
    <%- include('partials/footer') %>
</main>
