<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p class="description"> This is the products page. Here you can find a list of all the products we offer.</p>
</main>
<%- include('partials/footer') %>